<% layout("layouts/boilerplate") %>

<body>
    <h2>All listing</h2>
    <!-- <form method="get" action="/listings/new">
        <button>Add new Hotel</button>
    </form> -->
    <ul>
        <%for(let list of allData){%>
            <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
        <% } %>
    </ul>
</body>
