<%- layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <form
      method="post"
      action="/listings"
      class="container needs-validation"
      novalidate
    >
      <h3 class="mb-4">Add New Listing</h3>

      <!-- title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          placeholder="Enter a Cacthy title "
          name="title"
          type="text"
          id="title"
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">
          Enter a catchy title
        </div>
      </div>

      <!-- description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          placeholder="Enter Description"
          name="description"
          type="text"
          id="description"
          required
        ></textarea>
        <div class="invalid-feedback">Give a short description</div>
      </div>

      <!-- image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          placeholder="Image url"
          name="image[url]"
        />
      </div>

      <div class="row">
        <!-- price -->
        <div class="mb-3 col-sm-4">
          <label for="price" class="form-label">Price</label>
          <input
            placeholder="1200"
            name="price"
            class="form-control"
            id="price"
            required
          />
          <div class="invalid-feedback">Enter a fare Price</div>
        </div>
        <!-- country -->
        <div class="mb-3 col-sm-8">
          <label for="country" class="form-label">Country</label>
          <input
            placeholder="India"
            name="country"
            type="text"
            class="form-control"
            id="country"
            required
          />
          <div class="invalid-feedback">
            Enter the country name
          </div>
        </div>
      </div>

      <!-- location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          placeholder="Enter Location"
          name="location"
          type="text"
          class="form-control"
          id="location"
          required
        />
        <div class="invalid-feedback">
          Enter a valid location
        </div>
      </div>

      <div class="mb-3">
        <label for="submit" class="form-label"></label>
        <button class="btn btn-danger" id="submit">Add</button>
      </div>
    </form>
  </div>
</div>
    <script src="/public/js/script.js"></script>

