<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <form method="post" action="/listings/new" class="container">
      <h3 class="mb-4">Add New Listing</h3>

      <!-- title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          placeholder="Enter a Cacthy title "
          name="title"
          type="text"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          placeholder="Enter Description"
          name="description"
          type="text"
          id="description"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          placeholder="Image url"
          name="image"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-sm-4">
          <label for="price" class="form-label">Price</label>
          <input
            placeholder="1200"
            name="price"
            type="number"
            class="form-control"
            id="price"
          />
        </div>

        <div class="mb-3 col-sm-8">
          <label for="country" class="form-label">Country</label>
          <input
            placeholder="India"
            name="country"
            type="text"
            class="form-control"
            id="country"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          placeholder="Enter Location"
          name="location"
          type="text"
          class="form-control"
          id="location"
        />
      </div>

      <div class="mb-3">
        <label for="submit" class="form-label"></label>
        <button class="btn btn-danger" id="submit">Add</button>
      </div>
    </form>
  </div>
</div>
